{% extends 'base.html' %}
{% block content %}

    <h1>Welcome</h1>
    <p>
        <label>Select Name</label>
            <select onclick="display()" class="username">
                <option selected disabled>Select</option>
                {% for i in users %}
                    <option value="{{i['name']}}">{{i["name"]}}</option>
                {% endfor %}
            </select>
    </p>
    <button type="button"><a style="text-decoration: none; color: black;" href="{{url_for('home')}}">Add New</a></button>
    <p>
    </p>
    <script>
        async function display(){
            const response = await fetch("127.0.0.1:8000/users_api")
            const result = await response.json()
            console.log(result);
            const user = document.querySelector('.username').value
        }
    </script>
{% endblock %}